<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>花田小憩.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D03AA301E098378000BED20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D03AA441E098378000BED20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D03AA4F1E098378000BED20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
