<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>堆糖.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BCEE6771E9CB66500D38E34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BCEE68B1E9CB66500D38E34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BCEE6961E9CB66500D38E34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
