<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>爆侃网文.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B68BF6C1E8DEE9500A6158B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B68BF801E8DEE9600A6158B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B68BF8B1E8DEE9600A6158B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
