<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestTarget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B98FAFB1EA866EA0050E8EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B98FB0F1EA866EA0050E8EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B98FB1A1EA866EA0050E8EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B98FB301EA867100050E8EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B98FB431EA867100050E8EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
