<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>小日子.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6AD7981E5B2F3200CF50C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6AD7AC1E5B2F3200CF50C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6AD7B71E5B2F3200CF50C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
