<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>美团iPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B7F85581F1F555B007EF247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7F85711F1F555B007EF247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7F857C1F1F555B007EF247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
