<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>京东.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B83B07B1EF7B0F700697AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B83B0941EF7B0F800697AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B83B09F1EF7B0F800697AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
